:root {
    --primary: rgb(0, 95, 107);
    --bg: rgb(0, 0, 0);
    --col1: #2eb1b6;
    --col2: #ffffff;
    --col3: #f3f3f3;
    --col4: #dddddd;
    --col5: #d1d1d1;
    --col6: #afafaf;
    --col7: #a6a6a6;
    --col8: #868686;
    --col9: #676767;
    --col8: #e1e5e8;
    --col9: #ff7b00;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--col2);
    min-height: 200rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Start Navbar */
.navbar {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    border-bottom: 5px solid var(--col1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border-radius: 0 0 20% 20%;
}

.navbar .navbar-brand img {
    width: 15rem;
}

.navbar .navbar-collapse .nav-link {
    display: inline-block;
    font-size: 1.3rem;
    margin: 0.7rem;
}

.navbar-collapse {
    margin-right: 11rem;
}

.navbar .navbar-collapse a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--col1);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-collapse a:hover::after {
    transform: scaleX(0.6);
}

.navbar .btn {
    border-radius: 10rem;
}
/* Close Navbar */

/* Start Hero */
.hero {
    background-image: url(../asset/img/bg-jumbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.hero .row {
    padding-top: 10rem;
    align-items: center;
    text-align: center;
    width: 100%;
    color: var(--col2);
}

.hero .row img {
    width: 20rem;
}

.animate__animated.animate__zoomInDown {
    --animate-duration: 2s;
}
.animate__animated.animate__jackInTheBox {
    --animate-duration: 2s;
}
.hero .col {
    padding: 100px;
}

.hero .col h1 {
    font-weight: 600;
    text-shadow: 3px 3px gray;
}
.hero .col h3 {
    text-shadow: 2px 2px gray;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--col4) 0%, rgba(0, 194, 26, 0) 7%);
}

/* Close Hero */
/* Start Background */
.background {
    background-image: url(../asset/img/bg-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5rem 0 5rem;
    min-height: 190vh;
    display: flex;
    color: var(--bg);
    /* background-color: var(--col2); */
}

.background .content-CB {
    margin-top: 9rem;
}
.background .content-CB h1 {
    font-weight: bold;
}

.background .content-CB .text {
    text-align: center;
}

.background .transport .row {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background .transport .menu-card {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--col5);
    text-align: center;
    margin: 2rem;
    width: 300px;
    padding: 1rem;
    border-radius: 1rem;
}
.transport .menu-card .card-img-top {
    border-radius: 1rem;
    height: 12rem;
    width: 100%;
}
.background .menu-card .card-title {
    padding: 1rem;
    height: 4rem;
}

.background .vdm .row {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background .vdm .vdmc {
    background-color: var(--col5);
    width: 40%;
    margin: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1),
        0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
/* Close Background */

/* Start Service */

.service {
    background-image: url(../asset/img/bg-service.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5rem 0 5rem;
    min-height: 170vh;
    display: flex;
    width: auto;
    color: var(--bg);
    justify-content: center;
}

.service .content-SV {
    align-items: center;
    margin-top: 9rem;
}
.service .content-SV .text h1 {
    font-weight: bold;
}

.service .content-SV .text {
    text-align: center;
}

.service .transport .row {
    display: flex;
    flex-wrap: wrap;
}

.service .transport .menu-card {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--col5);
    text-align: center;
    margin: 2rem;
    width: 300px;
    padding: 1rem;
    border-radius: 1rem;
}
.transport .menu-card .card-img-top {
    border-radius: 1rem;
    height: 12rem;
    width: 100%;
}
.service .menu-card .card-title {
    padding: 1rem;
    height: 4rem;
}

.service .menu-card .btn-SV {
    text-align: center;
    text-decoration: none;
}

/* Modal */
.service .modal-body .item1 img {
    width: 40rem;
}
.service .modal-body .item2 {
    height: 50%;
}


.item2 th{
    font-weight: 500;
    font-size: 1.5pc;
}

.item2 h1 {
    font-weight: bold;
}
.service .modal-body .item2 table {
    width: 100%;
}

.item1 img {
    width: 200px;
    height: 400px;
}

.service .modal-body .item2 td,
th {
    text-align: left;
    padding: 8px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "img spec spec spec spec"
        "img spec spec spec spec"
        "img spec spec spec spec"
        "img spec spec spec spec";
    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.service .content-SV .wilayah {
    padding: 3rem;
}

.service .content-SV .wilayah img {
    background-color: var(--col6);
    padding: 0.5rem;
    width: 70rem;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3rem;
}
    
/* Close Service */

/* Start About */
.contact {
    background-image: url(../asset/img/bg-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5rem; /* Mengurangi padding atas dan bawah */
    min-height: 100vh; /* Mengubah min-height menjadi viewport height */
    display: flex;
    color: var(--bg);
    justify-content: center;
    text-align: center;
}

.contact .content-CT {
    margin-top: 9rem;
}

.contact .content-CT .text h1 {
    font-weight: bold;
}

.contact .content-CT .text span {
    color: var(--col1);
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
}

.contact .menu-card {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--col5);
    text-align: center;
    margin: 2rem;
    width: 300px;
    padding: 1rem;
    border-radius: 1rem;
    text-align: left;
}

.contact .menu-card a {
    text-decoration: none;
    color: black;
}

.contact .menu-card .alamat {
    overflow: hidden; /* Menyembunyikan konten yang melebihi lebar */
    max-height: 5.5rem; /* Membatasi tinggi maksimum konten */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Menampilkan hingga 3 baris teks */
    -webkit-box-orient: vertical;
}

/* Close About */

/* Start Animated */
.animated {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.5s linear, transform 1s linear;
}

.animated.active {
    opacity: 1;
    transform: translateY(0);
}
/* Close Animated */

/* Start Login */
.login-body {
    background-image: url(../asset/img/bg-jumbo.jpg);
    max-width: 100%;
    min-height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    max-width: 400px;
    margin: 15rem auto;
    padding: 1rem;
    border-radius: 5px;
    backdrop-filter: blur(15px);
    border-radius: 10px;
}

.login-container h2 {
    text-align: center;
    color: white;
}

.login-container label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container .btn {
    background-color: var(--col7);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-container a {
    float: right;
}

.login-container .btn:hover {
    background-color: var(--col5);
}
/* Close Login */





/* Open Monitor */
.content .row .widget-user-image img {
    width: 100px;
    height: 100px;
}


/* Close Monitor */








/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
    .hero .col h3 {
        font-weight: 400;
        text-shadow: 1.5px 1.5px gray;
    }
    .hero .col h1 {
        font-weight: 600;
        text-shadow: 2.5px 2.5px gray;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    .hero .col h1 {
        font-weight: 800;
        text-shadow: 1.2px 1.2px gray;
    }
    .hero .col h3 {
        text-shadow: 1px 1px gray;
    }
}

/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
    .background .transport .menu-card {
        width: 80%;
    }
}

